<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <img src="http://www.auplod.com/u/ulaopd76ab9.png" alt="Geosmarts"></img>
        <h2> Alue   Viestejä    Viimeinen viesti</h2>
        <h3 th:text="${ida}"> </h3>
        <h4 th:text="${idb}"> </h4>
        <h5 th:text="${idc}"> </h5>

        <table style="width:50%">
            <tr>
                <td><h2>Alue</h2></td>
                <td><h2>Viestejä</h2></td> 
                <td><h2>Viimeisin viesti</h2></td>
            </tr>
            <tr>
                <td th:text="${ida}">Eve</td>
                <td>Jackson</td> 
                <td>94</td>
            </tr>
        </table>

    </body>
</html>